body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    margin-left: 20px;
    margin-right: 20px;
}

p {
    font-family: "Verdana";
    font-size: 14px;
    margin-left: 30px;
    margin-right: 80px;
}

ul {
    font-family: "Verdana";
    font-size: 14px;
    margin-left: 20px;
    margin-right: 80px;
}
